.wholesalerBar {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}

.pageButton {
    border: none;
    border-radius: 2px;
    width: 15vw;
    height: 3rem;
    background-color: #f9b98c;
    box-shadow: 3px 5px 5px rgb(198, 196, 196);
    align-self: center;
    font-size: large;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5em;
}

.tableContainer {
    box-shadow: 3px 5px 5px rgb(198, 196, 196);

}

.buttonGroup {
    display: flex;
    align-items: center;
    gap: 2em;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}