.wholesalerBar {
    display: flex;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
}

.pageButton {
    border: none;
    border-radius: 2px;
    width: 15vw;
    height: 3rem;
    background-color: white;
    box-shadow: 2px 2px 10px rgb(219, 218, 218);
    font-family: "Open Sans Regular";
    align-self: center;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5em;
}

.tableContainer {
    box-shadow: 3px 5px 5px rgb(198, 196, 196);

}

.buttonGroup {
    display: flex;
    align-items: center;
    gap: 2em;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}